body {
    background:url('images/concrete_seamless.png');
}

.header-container {
    background:rgba(0, 0, 0, 0.6);
}

.jumbotron {
    text-align: center;
    margin: 60px 0;
    padding:120px 20px 40px;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    text-shadow:1px 1px 3px darkred;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron.lead-image {
    background:red url('images/everythingatnight.jpg') bottom;
}

p.lead {
    color:white;
    text-decoration: uppercase;
}


#login {
    max-width: 300px;
    padding: 19px 29px 14px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
#login h2 {
    font-size: 31.5px;
    line-height: 40px;
    margin-bottom: 10px;
}
#register label.required {
	font-weight: bold;
}


/*/NAV/*/

.nav-tabs > li > a, .nav-pills > li > a {
    color: white;
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active {
    background-color: #08c;
    color: #fff;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    /*background-color: #08c;*/
    color: #8c8c8c;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #08c;
    color: #fcfcf3;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active  {
    background-color: #8c8c8c !important;
    color: #222;
}

.interface{
    background:rgba(0, 0, 0, 0.2);
    float: left;
    padding:20px 0 0 20px;
    box-sizing:border-box;
    width:340px;
}
.action {
    box-sizing:border-box;
    border:2px solid gold;
    text-align: center;
    width:60px;
    height: 60px;
    margin:0 20px 20px 0;
    float: left;
    /*background: green;*/
    background:rgba(0, 0, 0, 0.2);
}
