body {
    background:url('images/concrete_seamless.png');
}

.header-container {
    background:rgba(0, 0, 0, 0.6);
}

.jumbotron {
    text-align: center;
    margin: 60px 0;
    padding:120px 20px 40px;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    text-shadow:1px 1px 3px darkred;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron.lead-image {
    background:red url('images/earlyprototype2.jpg') bottom;
    min-height: 400px;
}

p.lead {
    color:white;
    text-decoration: uppercase;
}


.login {
    max-width: 300px;
    padding: 19px 29px 14px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}


#login h2 {
    font-size: 31.5px;
    line-height: 40px;
    margin-bottom: 10px;
}
#register label.required {
	font-weight: bold;
}


/*/NAV/*/

.nav-tabs > li > a, .nav-pills > li > a {
    color: white;
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active {
    background-color: #08c;
    color: #fff;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    /*background-color: #08c;*/
    color: #8c8c8c;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #08c;
    color: #fcfcf3;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active  {
    background-color: #8c8c8c !important;
    color: #222;
}

.interface{
    background:rgba(0, 0, 0, 0.2);
    float: left;
    padding:20px 0 0 20px;
    box-sizing:border-box;
    width:340px;
    margin-bottom:40px;
}
.action {
    box-sizing:border-box;
    border:2px solid gold;
    text-align: center;
    /*width:60px;*/
    padding:15px;
    height: 60px;
    margin:0 20px 20px 0;
    float: left;
    /*background: green;*/
    background:rgba(0, 0, 0, 0.2);
}


/*/ Animation Stuff/ */
.repeater {
background: #16201E;
padding: 10px;
margin-top: 15px;
color: white;
}
.repeater .edithidden {
    height:100px;
}
.repeater .edit {
    display: block;
    width: 100%;
    text-align: right;
    font-size:12px;
}
.repeater .edit-field {
    margin-top:10px;
}
.repeater .top-section {
    height:34px;
    overflow: hidden
}

.thing-leaving {
    /*background: red;*/
    font-size: 17px;
    /*padding: 4px 0;*/
}


/* * .slide.ng-enter { }        /&#42; starting animations for enter &#42;/
 * .slide.ng-enter.ng-enter-active { } /&#42; terminal animations for enter &#42;/
 * .slide.ng-leave { }        /&#42; starting animations for leave &#42;/
 * .slide.ng-leave.ng-leave-active { } /&#42; terminal animations for leave &#42;/*/


/*
/* prevents flashes */
.ng-hide { 
    /*display: none;*/
}
.ng-hide.ng-hide-add.ng-hide-add-active  { /* stops disapearing instantly */
    /*display: block;*/
}
/* when hiding the thing */

.thing-appearing.ng-hide-add.ng-hide-remove-active       { 
    display:block!important;
    backface-visibility: hidden;
    /*-moz-backface-visibility: hidden;*/
    -webkit-animation-name: dostuff;
    -moz-animation-name: dostuff;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
}
.thing-appearing.ng-hide-add.ng-hide-add-active     { 
    display:block!important
    backface-visibility: hidden;
    -webkit-animation-name: dothereverse;
    -moz-animation-name: dothereverse;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
}
/*.edit-field.nng-hide-remove.ng-hide-remove-active       { 
    -webkit-backface-visibility: hidden;
    -webkit-animation-name: dostuff;
    -webkit-animation-duration: .75s;
}
.edit-field.ng-hide-add.ng-hide-add-active      { 
    backface-visibility: hidden;
    -webkit-animation-name: dothereverse;
    -webkit-animation-duration: .75s;
}*/

.thing-leaving.ng-hide-remove.ng-hide-remove-active       { 
    display:block!important
        backface-visibility: hidden;
    -webkit-animation-name: dostuff;
    -moz-animation-name: dostuff;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
}
.thing-leaving.ng-hide-add.ng-hide-add-active       { 
    display:block!important
    backface-visibility: hidden;
    -webkit-animation-name: dothereverse;
    -moz-animation-name: dothereverse;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
}

/*.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active {
      -webkit-animation-name: dostuff;
      -moz-animation-name: dostuff;
      animation-name: dostuff;
    -moz-animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;    
}
.animate-show.ng-hide-remove.ng-hide-remove-active {
      -webkit-animation-name: dothereverse;
      -moz-animation-name: dothereverse;
      animation-name: dothereverse;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    animation-duration: .75s;
}*/
  /*transition: all linear 0.5s;*/
  /*-webkit-transition: all linear 0.5s;*/

.animate-show.ng-hide {
    /*display:block!important;*/
/*  line-height: 0;
  opacity: 0;
  padding: 0 10px;*/
/*      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 40deg);*/
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/*@-webkit-keyframes thing {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
*/
/*@-webkit-keyframes flipInX {*/
/*    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;*/
/*    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;*/
@-webkit-keyframes dostuff {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
   
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
     opacity: 1;
  }
}

@-moz-keyframes dostuff {
  0% {

    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }

  40% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }

  60% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 40deg);
   
  }

  80% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
  }

  100% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
     opacity: 1;
  }
}

/*    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;*/
/*    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;*/
@-webkit-keyframes dothereverse {

  0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        opacity: 1;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -40deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -40deg);
   
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
  }

  100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -90deg);

        opacity: 0;
  }
}

/*    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;*/

@-moz-keyframes dothereverse {

  0% {
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        opacity: 1;
  }

  40% {
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -40deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -40deg);
   
  }

  80% {
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
  }

  100% {
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -90deg);

        opacity: 0;
  }
}

.fixed-for {

    height:30px;
    /*position: relative;*/
}

.blah {
    /*position: absolute;*/
    /*top:0;*/
    height:400px;
    width: 100%;
}

.one {
    background: red;
}
.two {
    background: blue;
}






